.idea/*
*.pyc
*.m~

# data files
*.obj
*.stl
checkpoints
datasets
runs
hgapi
deal_data/Release
inference/results
inference/AI_pts
evaluation/test_data.md
error_model.txt
nohup.out
show_model.py
test.png
*.pth
